*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: #333;
    
}


@keyframes slideInRight{
    0% {
        transform: translateX(-50%);
        
    }
    100% {
        transform: translateX(0%);
        /* left: -50px; */
        /* top: 60px; */
        
    }
}

@keyframes slideInBottom{
    0% {
        transform: translateY(100%);
        
    }
    100% {
        transform: translateY(0);
        
    }
}

.animate{
    animation: 2s cubic-bezier(0, 0, 0, 1) 0s 1 slideInBottom;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.item1{

    align-items: center;
    justify-content: center;
    margin-top: 7%;
    animation: 2s cubic-bezier(0, 0, 0, 1) 0s 1 slideInRight;
    
    color: #fafafa;
    
    
}

.text-container{
    text-align: center;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    border: 0;
    outline: 0;
    width: 50vh;
    height: 10vh;
    border-radius: 10px;
    box-shadow: -8px -8px 15px #ffffff1d,5px 5px 15px #00000031;
    
    font-size: 4vh;
    
    
    cursor: pointer;
    margin: 10px;
    color: #333;
    background: #fff;
}

.searchButton{
    background-color: #6cc644; /* Green */
    border: none;
    color: white;
    padding: 3vh 2vh;
    
    text-align: center;
    text-decoration: none;
    
    /* font-size: 1.5em; */
    
    cursor: pointer;
    
    
    border-radius: 10px;
    
}
.Button{
    /* display: none; */
    background-color: #6cc644; /* Green */
    border: none;
    color: white;
    padding: 2vh 1vh;
    /* align-self: center; */
    /* text-align: center;   */
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}
.searchButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.text-container{
    font-size: 4vh;
    letter-spacing: 5px;  
    
}


.profile-container{
    display: flex;
    color: #fafafa;
    align-self: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;




}

.profile_pic{
    display: flex;
}
.profile_data{
    display: flex;
    align-self: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.profile_val{
    display: flex;
    gap: 20px;
}

.profile_button{
    display: flex;
    flex-wrap: wrap;
    
}
@media screen and (max-width: 1000px){
    *{
        margin: 10px 10px;
    }
    .input{
        width: 15vh;
        height: 5vh;
        font-size: 2vh;
    }
    .searchButton{
        padding: 1.5vh 0.5vh;
        /* font-size: 1em; */
    }
    .text-container{
        font-size: 0.5em;

    }
    .subtitle{
        display: none;
    }
    .profile_val{
        gap: 0px;
    }
    
}